USE [QuanLyDatVeXemPhim]
GO
/****** Object:  Table [dbo].[CHI_TIET_HOA_DON]    Script Date: 09/04/2026 12:32:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_HOA_DON](
	[MA_CHI_TIET_HOA_DON] [int] IDENTITY(1,1) NOT NULL,
	[MA_HOA_DON] [int] NOT NULL,
	[MA_SAN_PHAM] [int] NOT NULL,
	[SO_LUONG] [int] NULL,
	[GIA_BAN] [decimal](18, 2) NULL,
 CONSTRAINT [PK_CHI_TIET_HOA_DON] PRIMARY KEY CLUSTERED 
(
	[MA_CHI_TIET_HOA_DON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANH_GIA]    Script Date: 09/04/2026 12:32:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANH_GIA](
	[MA_DANH_GIA] [int] IDENTITY(1,1) NOT NULL,
	[NOI_DUNG_DANH_GIA] [nvarchar](max) NULL,
	[MA_NGUOI_DUNG] [int] NULL,
	[MA_PHIM] [int] NULL,
	[NGAY_DANH_GIA] [datetime] NULL,
 CONSTRAINT [PK__DANH_GIA__3EDFD72E04853503] PRIMARY KEY CLUSTERED 
(
	[MA_DANH_GIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GHE_NGOI]    Script Date: 09/04/2026 12:32:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GHE_NGOI](
	[MA_GHE_NGOI] [int] IDENTITY(1,1) NOT NULL,
	[MA_PHONG_CHIEU] [int] NULL,
	[TEN_GHE_NGOI] [varchar](10) NOT NULL,
	[TRANG_THAI_GHE] [nvarchar](50) NULL,
	[GIA_GHE_NGOI] [decimal](18, 2) NULL,
	[TINH_TRANG_DAT_GHE] [int] NULL,
 CONSTRAINT [PK__GHE_NGOI__0ADD027161C1EA9D] PRIMARY KEY CLUSTERED 
(
	[MA_GHE_NGOI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOA_DON]    Script Date: 09/04/2026 12:32:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOA_DON](
	[MA_HOA_DON] [int] IDENTITY(1,1) NOT NULL,
	[MA_NGUOI_DUNG] [int] NULL,
	[MA_SUAT_CHIEU] [int] NULL,
	[NGAY_DAT_VE] [date] NULL,
	[GIO_DAT_VE] [time](7) NULL,
	[TONG_TIEN_THANH_TOAN] [decimal](18, 2) NULL,
	[TRANG_THAI_THANH_TOAN] [nvarchar](50) NULL,
	[MA_GIAO_DICH_VNPAY] [nvarchar](100) NULL,
 CONSTRAINT [PK__HOA_DON__EFEAFCDB6D77CF02] PRIMARY KEY CLUSTERED 
(
	[MA_HOA_DON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUOI_DUNG]    Script Date: 09/04/2026 12:32:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOI_DUNG](
	[MA_NGUOI_DUNG] [int] IDENTITY(1,1) NOT NULL,
	[TEN_DANG_NHAP] [varchar](50) NOT NULL,
	[MAT_KHAU] [varchar](max) NOT NULL,
	[HO_TEN] [nvarchar](100) NULL,
	[SO_DIEN_THOAI] [varchar](15) NULL,
	[EMAIL] [varchar](100) NULL,
	[MA_VAI_TRO] [int] NULL,
 CONSTRAINT [PK__NGUOI_DU__F87F53B71E92AB47] PRIMARY KEY CLUSTERED 
(
	[MA_NGUOI_DUNG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIM]    Script Date: 09/04/2026 12:32:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIM](
	[MA_PHIM] [int] IDENTITY(1,1) NOT NULL,
	[TEN_PHIM] [nvarchar](250) NOT NULL,
	[DUONG_DAN_TRAILER] [nvarchar](500) NULL,
	[NOI_DUNG_PHIM] [nvarchar](max) NULL,
	[GIOI_HAN_TUOI] [nvarchar](50) NULL,
	[THOI_LUONG_PHIM] [int] NULL,
	[DAO_DIEN] [nvarchar](100) NULL,
	[DIEN_VIEN] [nvarchar](max) NULL,
	[HINH_ANH_POSTER] [nvarchar](500) NULL,
	[HINH_ANH_NEN] [nvarchar](500) NULL,
	[MA_THE_LOAI] [int] NULL,
 CONSTRAINT [PK__PHIM__34451EE4829A7960] PRIMARY KEY CLUSTERED 
(
	[MA_PHIM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONG_CHIEU]    Script Date: 09/04/2026 12:32:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONG_CHIEU](
	[MA_PHONG_CHIEU] [int] IDENTITY(1,1) NOT NULL,
	[TEN_PHONG_CHIEU] [nvarchar](100) NOT NULL,
	[MA_RAP] [int] NULL,
 CONSTRAINT [PK__PHONG_CH__9B32636543ED61DF] PRIMARY KEY CLUSTERED 
(
	[MA_PHONG_CHIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAN_PHAM]    Script Date: 09/04/2026 12:32:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAN_PHAM](
	[MA_SAN_PHAM] [int] IDENTITY(1,1) NOT NULL,
	[TEN_SAN_PHAM] [nvarchar](250) NOT NULL,
	[MO_TA_SAN_PHAM] [nvarchar](max) NULL,
	[GIA_SAN_PHAM] [decimal](18, 2) NULL,
	[url_image] [nvarchar](max) NULL,
 CONSTRAINT [PK__SAN_PHAM__AEAADD69B0EE6E17] PRIMARY KEY CLUSTERED 
(
	[MA_SAN_PHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUAT_CHIEU]    Script Date: 09/04/2026 12:32:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUAT_CHIEU](
	[MA_SUAT_CHIEU] [int] IDENTITY(1,1) NOT NULL,
	[MA_PHONG_CHIEU] [int] NULL,
	[MA_PHIM] [int] NULL,
	[MA_RAP] [int] NULL,
	[NGAY_CHIEU] [date] NOT NULL,
	[GIO_BAT_DAU] [time](7) NOT NULL,
	[GIO_KET_THUC] [time](7) NULL,
	[GIA_VE_CO_BAN] [decimal](18, 2) NULL,
 CONSTRAINT [PK__SUAT_CHI__16EEA2CFDBBBC5B9] PRIMARY KEY CLUSTERED 
(
	[MA_SUAT_CHIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THE_LOAI]    Script Date: 09/04/2026 12:32:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THE_LOAI](
	[MA_THE_LOAI] [int] IDENTITY(1,1) NOT NULL,
	[TEN_THE_LOAI] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK__THE_LOAI__E1C1D0B5306EEEC2] PRIMARY KEY CLUSTERED 
(
	[MA_THE_LOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THONG_TIN_RAP]    Script Date: 09/04/2026 12:32:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THONG_TIN_RAP](
	[MA_RAP] [int] IDENTITY(1,1) NOT NULL,
	[TEN_RAP] [nvarchar](255) NOT NULL,
	[DIA_CHI] [nvarchar](500) NULL,
	[SO_DIEN_THOAI] [varchar](15) NULL,
	[EMAIL] [varchar](100) NULL,
 CONSTRAINT [PK__THONG_TI__9BFB852C47B48DC7] PRIMARY KEY CLUSTERED 
(
	[MA_RAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VAI_TRO]    Script Date: 09/04/2026 12:32:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VAI_TRO](
	[MA_VAI_TRO] [int] IDENTITY(1,1) NOT NULL,
	[TEN_VAI_TRO] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__VAI_TRO__B1015C1BA7E4A252] PRIMARY KEY CLUSTERED 
(
	[MA_VAI_TRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VE_XEM_PHIM]    Script Date: 09/04/2026 12:32:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VE_XEM_PHIM](
	[MA_VE_XEM_PHIM] [int] IDENTITY(1,1) NOT NULL,
	[MA_HOA_DON] [int] NULL,
	[MA_GHE_NGOI] [int] NULL,
	[MA_SUAT_CHIEU] [int] NULL,
 CONSTRAINT [PK__VE_XEM_P__9CCBB170E88CD890] PRIMARY KEY CLUSTERED 
(
	[MA_VE_XEM_PHIM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[GHE_NGOI] ON 

INSERT [dbo].[GHE_NGOI] ([MA_GHE_NGOI], [MA_PHONG_CHIEU], [TEN_GHE_NGOI], [TRANG_THAI_GHE], [GIA_GHE_NGOI], [TINH_TRANG_DAT_GHE]) VALUES (1, 1, N'A1', N'Trống', CAST(100000.00 AS Decimal(18, 2)), 0)
INSERT [dbo].[GHE_NGOI] ([MA_GHE_NGOI], [MA_PHONG_CHIEU], [TEN_GHE_NGOI], [TRANG_THAI_GHE], [GIA_GHE_NGOI], [TINH_TRANG_DAT_GHE]) VALUES (2, 1, N'A2', N'Trống', CAST(100000.00 AS Decimal(18, 2)), 0)
INSERT [dbo].[GHE_NGOI] ([MA_GHE_NGOI], [MA_PHONG_CHIEU], [TEN_GHE_NGOI], [TRANG_THAI_GHE], [GIA_GHE_NGOI], [TINH_TRANG_DAT_GHE]) VALUES (3, 1, N'A3', N'Trống', CAST(100000.00 AS Decimal(18, 2)), 0)
GO
SET IDENTITY_INSERT [dbo].[GHE_NGOI] OFF
GO
SET IDENTITY_INSERT [dbo].[HOA_DON] ON 

INSERT [dbo].[HOA_DON] ([MA_HOA_DON], [MA_NGUOI_DUNG], [MA_SUAT_CHIEU], [NGAY_DAT_VE], [GIO_DAT_VE], [TONG_TIEN_THANH_TOAN], [TRANG_THAI_THANH_TOAN], [MA_GIAO_DICH_VNPAY]) VALUES (11, 2, 4, CAST(N'2026-03-31' AS Date), CAST(N'11:08:40.0300000' AS Time), CAST(175000.00 AS Decimal(18, 2)), N'Chờ thanh toán', NULL)
INSERT [dbo].[HOA_DON] ([MA_HOA_DON], [MA_NGUOI_DUNG], [MA_SUAT_CHIEU], [NGAY_DAT_VE], [GIO_DAT_VE], [TONG_TIEN_THANH_TOAN], [TRANG_THAI_THANH_TOAN], [MA_GIAO_DICH_VNPAY]) VALUES (12, 2, 4, CAST(N'2026-03-31' AS Date), CAST(N'11:12:39.8066667' AS Time), CAST(350000.00 AS Decimal(18, 2)), N'Đã thanh toán', N'15475928')
INSERT [dbo].[HOA_DON] ([MA_HOA_DON], [MA_NGUOI_DUNG], [MA_SUAT_CHIEU], [NGAY_DAT_VE], [GIO_DAT_VE], [TONG_TIEN_THANH_TOAN], [TRANG_THAI_THANH_TOAN], [MA_GIAO_DICH_VNPAY]) VALUES (13, 2, 4, CAST(N'2026-03-31' AS Date), CAST(N'11:21:45.0800000' AS Time), CAST(350000.00 AS Decimal(18, 2)), N'Đã thanh toán', N'15475945')
SET IDENTITY_INSERT [dbo].[HOA_DON] OFF
GO
SET IDENTITY_INSERT [dbo].[NGUOI_DUNG] ON 

INSERT [dbo].[NGUOI_DUNG] ([MA_NGUOI_DUNG], [TEN_DANG_NHAP], [MAT_KHAU], [HO_TEN], [SO_DIEN_THOAI], [EMAIL], [MA_VAI_TRO]) VALUES (2, N'nhduy', N'$2b$10$pFnvShspVpJZjQ4piq1ug.HhZj/gVJBTzHcOBE6zFKd6EG1mjpBmW', N'Nguyễn Hứu Duy', N'0387482440', N'duy@gmail.com', 1)
INSERT [dbo].[NGUOI_DUNG] ([MA_NGUOI_DUNG], [TEN_DANG_NHAP], [MAT_KHAU], [HO_TEN], [SO_DIEN_THOAI], [EMAIL], [MA_VAI_TRO]) VALUES (3, N'khach', N'$2b$10$whhkJ3JdoxDwXE4mEItrLukM3qucr/NLFx80UcU.n3AvgSLYslrSG', N'jsdfsdf', N'0387482449', N'duy2@gmail.com', 2)
INSERT [dbo].[NGUOI_DUNG] ([MA_NGUOI_DUNG], [TEN_DANG_NHAP], [MAT_KHAU], [HO_TEN], [SO_DIEN_THOAI], [EMAIL], [MA_VAI_TRO]) VALUES (4, N'j97memeo', N'$2b$10$UgMDTkVCALWSYKQcP8VUR.WMwMS1gzb66N5IbNTRjN8ZOmhIbMqRa', N'Trịnh Trần Phương Tuấn', N'0387482445', N'duy123@gmail.com', 2)
SET IDENTITY_INSERT [dbo].[NGUOI_DUNG] OFF
GO
SET IDENTITY_INSERT [dbo].[PHIM] ON 

SET IDENTITY_INSERT [dbo].[PHIM] OFF
GO
SET IDENTITY_INSERT [dbo].[PHONG_CHIEU] ON 

INSERT [dbo].[PHONG_CHIEU] ([MA_PHONG_CHIEU], [TEN_PHONG_CHIEU], [MA_RAP]) VALUES (1, N'Phòng Chiếu 01', 1)
INSERT [dbo].[PHONG_CHIEU] ([MA_PHONG_CHIEU], [TEN_PHONG_CHIEU], [MA_RAP]) VALUES (2, N'Phòng Chiếu 02', 1)
INSERT [dbo].[PHONG_CHIEU] ([MA_PHONG_CHIEU], [TEN_PHONG_CHIEU], [MA_RAP]) VALUES (3, N'Phòng 03', 1)
SET IDENTITY_INSERT [dbo].[PHONG_CHIEU] OFF
GO
SET IDENTITY_INSERT [dbo].[SAN_PHAM] ON 

INSERT [dbo].[SAN_PHAM] ([MA_SAN_PHAM], [TEN_SAN_PHAM], [MO_TA_SAN_PHAM], [GIA_SAN_PHAM], [url_image]) VALUES (1, N'1 Bắp siêu lớn', N'! hộp bắp siêu lớn nóng hổi', CAST(25000.00 AS Decimal(18, 2)), N'https://png.pngtree.com/png-clipart/20240323/original/pngtree-cinema-pop-corn-bag-png-image_14659053.png')
SET IDENTITY_INSERT [dbo].[SAN_PHAM] OFF
GO
SET IDENTITY_INSERT [dbo].[SUAT_CHIEU] ON 

INSERT [dbo].[SUAT_CHIEU] ([MA_SUAT_CHIEU], [MA_PHONG_CHIEU], [MA_PHIM], [MA_RAP], [NGAY_CHIEU], [GIO_BAT_DAU], [GIO_KET_THUC], [GIA_VE_CO_BAN]) VALUES (1, 1, 1, 1, CAST(N'2026-03-17' AS Date), CAST(N'09:00:00' AS Time), NULL, CAST(85000.00 AS Decimal(18, 2)))
INSERT [dbo].[SUAT_CHIEU] ([MA_SUAT_CHIEU], [MA_PHONG_CHIEU], [MA_PHIM], [MA_RAP], [NGAY_CHIEU], [GIO_BAT_DAU], [GIO_KET_THUC], [GIA_VE_CO_BAN]) VALUES (2, 1, 1, 1, CAST(N'2026-03-17' AS Date), CAST(N'14:00:00' AS Time), NULL, CAST(75000.00 AS Decimal(18, 2)))
INSERT [dbo].[SUAT_CHIEU] ([MA_SUAT_CHIEU], [MA_PHONG_CHIEU], [MA_PHIM], [MA_RAP], [NGAY_CHIEU], [GIO_BAT_DAU], [GIO_KET_THUC], [GIA_VE_CO_BAN]) VALUES (3, 2, 2, 1, CAST(N'2026-03-17' AS Date), CAST(N'19:30:00' AS Time), NULL, CAST(75000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[SUAT_CHIEU] OFF
GO
SET IDENTITY_INSERT [dbo].[THE_LOAI] ON 

INSERT [dbo].[THE_LOAI] ([MA_THE_LOAI], [TEN_THE_LOAI]) VALUES (1, N'Hành động')
INSERT [dbo].[THE_LOAI] ([MA_THE_LOAI], [TEN_THE_LOAI]) VALUES (2, N'Hoạt hình')
INSERT [dbo].[THE_LOAI] ([MA_THE_LOAI], [TEN_THE_LOAI]) VALUES (3, N'Kinh dị')
SET IDENTITY_INSERT [dbo].[THE_LOAI] OFF
GO
SET IDENTITY_INSERT [dbo].[THONG_TIN_RAP] ON 

INSERT [dbo].[THONG_TIN_RAP] ([MA_RAP], [TEN_RAP], [DIA_CHI], [SO_DIEN_THOAI], [EMAIL]) VALUES (1, N'Duy Movie Long Xuyên', N'Trần Hưng Đạo, Mỹ Xuyên, Long Xuyên, An Giang', N'02963123456', N'contact@duymovie.vn')
SET IDENTITY_INSERT [dbo].[THONG_TIN_RAP] OFF
GO
SET IDENTITY_INSERT [dbo].[VAI_TRO] ON 

INSERT [dbo].[VAI_TRO] ([MA_VAI_TRO], [TEN_VAI_TRO]) VALUES (1, N'Admin')
INSERT [dbo].[VAI_TRO] ([MA_VAI_TRO], [TEN_VAI_TRO]) VALUES (2, N'Nhân viên')
INSERT [dbo].[VAI_TRO] ([MA_VAI_TRO], [TEN_VAI_TRO]) VALUES (3, N'Khách hàng')
SET IDENTITY_INSERT [dbo].[VAI_TRO] OFF
GO
SET IDENTITY_INSERT [dbo].[VE_XEM_PHIM] ON 

INSERT [dbo].[VE_XEM_PHIM] ([MA_VE_XEM_PHIM], [MA_HOA_DON], [MA_GHE_NGOI], [MA_SUAT_CHIEU]) VALUES (24, 12, 4, 4)
INSERT [dbo].[VE_XEM_PHIM] ([MA_VE_XEM_PHIM], [MA_HOA_DON], [MA_GHE_NGOI], [MA_SUAT_CHIEU]) VALUES (25, 12, 5, 4)
INSERT [dbo].[VE_XEM_PHIM] ([MA_VE_XEM_PHIM], [MA_HOA_DON], [MA_GHE_NGOI], [MA_SUAT_CHIEU]) VALUES (26, 13, 2, 4)
SET IDENTITY_INSERT [dbo].[VE_XEM_PHIM] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NGUOI_DU__7C8CF1DFF0C18365]    Script Date: 09/04/2026 12:32:55 CH ******/
ALTER TABLE [dbo].[NGUOI_DUNG] ADD  CONSTRAINT [UQ__NGUOI_DU__7C8CF1DFF0C18365] UNIQUE NONCLUSTERED 
(
	[TEN_DANG_NHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DANH_GIA] ADD  CONSTRAINT [DF__DANH_GIA__NGAY_D__6E01572D]  DEFAULT (getdate()) FOR [NGAY_DANH_GIA]
GO
ALTER TABLE [dbo].[GHE_NGOI] ADD  CONSTRAINT [DF__GHE_NGOI__TINH_T__5629CD9C]  DEFAULT ((0)) FOR [TINH_TRANG_DAT_GHE]
GO
ALTER TABLE [dbo].[HOA_DON] ADD  CONSTRAINT [DF__HOA_DON__NGAY_DA__628FA481]  DEFAULT (getdate()) FOR [NGAY_DAT_VE]
GO
ALTER TABLE [dbo].[HOA_DON] ADD  CONSTRAINT [DF__HOA_DON__GIO_DAT__6383C8BA]  DEFAULT (CONVERT([time],getdate())) FOR [GIO_DAT_VE]
GO
ALTER TABLE [dbo].[HOA_DON] ADD  CONSTRAINT [DF_HOADON_TrangThai]  DEFAULT (N'Chờ thanh toán') FOR [TRANG_THAI_THANH_TOAN]
GO
ALTER TABLE [dbo].[SUAT_CHIEU] ADD  CONSTRAINT [DF__SUAT_CHIE__GIA_V__01142BA1]  DEFAULT ((75000)) FOR [GIA_VE_CO_BAN]
GO
ALTER TABLE [dbo].[CHI_TIET_HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_HOADON] FOREIGN KEY([MA_HOA_DON])
REFERENCES [dbo].[HOA_DON] ([MA_HOA_DON])
GO
ALTER TABLE [dbo].[CHI_TIET_HOA_DON] CHECK CONSTRAINT [FK_CTHD_HOADON]
GO
ALTER TABLE [dbo].[CHI_TIET_HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_SANPHAM] FOREIGN KEY([MA_SAN_PHAM])
REFERENCES [dbo].[SAN_PHAM] ([MA_SAN_PHAM])
GO
ALTER TABLE [dbo].[CHI_TIET_HOA_DON] CHECK CONSTRAINT [FK_CTHD_SANPHAM]
GO
ALTER TABLE [dbo].[DANH_GIA]  WITH CHECK ADD  CONSTRAINT [FK_DANHGIA_NGUOIDUNG] FOREIGN KEY([MA_NGUOI_DUNG])
REFERENCES [dbo].[NGUOI_DUNG] ([MA_NGUOI_DUNG])
GO
ALTER TABLE [dbo].[DANH_GIA] CHECK CONSTRAINT [FK_DANHGIA_NGUOIDUNG]
GO
ALTER TABLE [dbo].[DANH_GIA]  WITH CHECK ADD  CONSTRAINT [FK_DANHGIA_PHIM] FOREIGN KEY([MA_PHIM])
REFERENCES [dbo].[PHIM] ([MA_PHIM])
GO
ALTER TABLE [dbo].[DANH_GIA] CHECK CONSTRAINT [FK_DANHGIA_PHIM]
GO
ALTER TABLE [dbo].[GHE_NGOI]  WITH CHECK ADD  CONSTRAINT [FK_GHENGOI_PHONG] FOREIGN KEY([MA_PHONG_CHIEU])
REFERENCES [dbo].[PHONG_CHIEU] ([MA_PHONG_CHIEU])
GO
ALTER TABLE [dbo].[GHE_NGOI] CHECK CONSTRAINT [FK_GHENGOI_PHONG]
GO
ALTER TABLE [dbo].[HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NGUOIDUNG] FOREIGN KEY([MA_NGUOI_DUNG])
REFERENCES [dbo].[NGUOI_DUNG] ([MA_NGUOI_DUNG])
GO
ALTER TABLE [dbo].[HOA_DON] CHECK CONSTRAINT [FK_HOADON_NGUOIDUNG]
GO
ALTER TABLE [dbo].[HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_SUATCHIEU] FOREIGN KEY([MA_SUAT_CHIEU])
REFERENCES [dbo].[SUAT_CHIEU] ([MA_SUAT_CHIEU])
GO
ALTER TABLE [dbo].[HOA_DON] CHECK CONSTRAINT [FK_HOADON_SUATCHIEU]
GO
ALTER TABLE [dbo].[NGUOI_DUNG]  WITH CHECK ADD  CONSTRAINT [FK_NGUOIDUNG_VAITRO] FOREIGN KEY([MA_VAI_TRO])
REFERENCES [dbo].[VAI_TRO] ([MA_VAI_TRO])
GO
ALTER TABLE [dbo].[NGUOI_DUNG] CHECK CONSTRAINT [FK_NGUOIDUNG_VAITRO]
GO
ALTER TABLE [dbo].[PHIM]  WITH CHECK ADD  CONSTRAINT [FK_PHIM_THELOAI] FOREIGN KEY([MA_THE_LOAI])
REFERENCES [dbo].[THE_LOAI] ([MA_THE_LOAI])
GO
ALTER TABLE [dbo].[PHIM] CHECK CONSTRAINT [FK_PHIM_THELOAI]
GO
ALTER TABLE [dbo].[PHONG_CHIEU]  WITH CHECK ADD  CONSTRAINT [FK_PHONGCHIEU_RAP] FOREIGN KEY([MA_RAP])
REFERENCES [dbo].[THONG_TIN_RAP] ([MA_RAP])
GO
ALTER TABLE [dbo].[PHONG_CHIEU] CHECK CONSTRAINT [FK_PHONGCHIEU_RAP]
GO
ALTER TABLE [dbo].[SUAT_CHIEU]  WITH CHECK ADD  CONSTRAINT [FK_SUATCHIEU_PHIM] FOREIGN KEY([MA_PHIM])
REFERENCES [dbo].[PHIM] ([MA_PHIM])
GO
ALTER TABLE [dbo].[SUAT_CHIEU] CHECK CONSTRAINT [FK_SUATCHIEU_PHIM]
GO
ALTER TABLE [dbo].[SUAT_CHIEU]  WITH CHECK ADD  CONSTRAINT [FK_SUATCHIEU_PHONG] FOREIGN KEY([MA_PHONG_CHIEU])
REFERENCES [dbo].[PHONG_CHIEU] ([MA_PHONG_CHIEU])
GO
ALTER TABLE [dbo].[SUAT_CHIEU] CHECK CONSTRAINT [FK_SUATCHIEU_PHONG]
GO
ALTER TABLE [dbo].[SUAT_CHIEU]  WITH CHECK ADD  CONSTRAINT [FK_SUATCHIEU_RAP] FOREIGN KEY([MA_RAP])
REFERENCES [dbo].[THONG_TIN_RAP] ([MA_RAP])
GO
ALTER TABLE [dbo].[SUAT_CHIEU] CHECK CONSTRAINT [FK_SUATCHIEU_RAP]
GO
ALTER TABLE [dbo].[VE_XEM_PHIM]  WITH CHECK ADD  CONSTRAINT [FK_VE_GHENGOI] FOREIGN KEY([MA_GHE_NGOI])
REFERENCES [dbo].[GHE_NGOI] ([MA_GHE_NGOI])
GO
ALTER TABLE [dbo].[VE_XEM_PHIM] CHECK CONSTRAINT [FK_VE_GHENGOI]
GO
ALTER TABLE [dbo].[VE_XEM_PHIM]  WITH CHECK ADD  CONSTRAINT [FK_VE_HOADON] FOREIGN KEY([MA_HOA_DON])
REFERENCES [dbo].[HOA_DON] ([MA_HOA_DON])
GO
ALTER TABLE [dbo].[VE_XEM_PHIM] CHECK CONSTRAINT [FK_VE_HOADON]
GO
ALTER TABLE [dbo].[VE_XEM_PHIM]  WITH CHECK ADD  CONSTRAINT [FK_VE_SUATCHIEU] FOREIGN KEY([MA_SUAT_CHIEU])
REFERENCES [dbo].[SUAT_CHIEU] ([MA_SUAT_CHIEU])
GO
ALTER TABLE [dbo].[VE_XEM_PHIM] CHECK CONSTRAINT [FK_VE_SUATCHIEU]
GO
